<header>
    <h1>Welcome to the Hotel Management Dashboard</h1>
  </header>
  <nav>
    <a routerLink="hotel-list" routerLinkActive="active">Hotels</a>
    <!-- Add links to other pages/routes as needed -->
  </nav>
  <nav>
    <a routerLink="booking-list" routerLinkActive="active">Bookings</a>
    </nav>
    <nav>
        <a routerLink="room-list" routerLinkActive="active">Rooms</a>
        <!-- Add links to other pages/routes as needed -->
      </nav>
     
    <nav>
    <a routerLink="guest-list" routerLinkActive="active">Guests</a>
    </nav>
   
